<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Viewer sample</title>
    <link rel="stylesheet" href="/jstree.style.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!--<link rel="stylesheet" href="https://developer-stg.api.autodesk.com/viewingservice/v1/viewers/style.css" type="text/css">-->

    <script language="JavaScript" src="/jquery.min.js"></script>
    <script language="JavaScript" src="/jquery.storageapi.min.js"></script>
    <script language="JavaScript" src="/scripts.js"></script>
    <script src="/jstree.js"></script>
    <script src="/js/bootstrap.min.js"></script>

	<script src="https://developer.api.autodesk.com/viewingservice/v1/viewers/viewer3D.min.js?v=v2.8"></script>
    <link rel="stylesheet" type="text/css" href="https://developer.api.autodesk.com/viewingservice/v1/viewers/style.min.css?v=v2.8">

    <script src="https://developer.api.autodesk.com/viewingservice/v1/viewers/three.min.js"></script>

    <!--<script src="https://developer-stg.api.autodesk.com/viewingservice/v1/viewers/viewer3D.js"></script>-->

    <!--<link rel="stylesheet" href="/css/index.css" />-->
</head>
<body>
    <div>
        <div>
            <h2>Baker Triangle Prefab QA/QC Viewer</h2>
            <h4>
                Track project progress and panel manufacturing process using <a href="https://developer.autodesk.com/api/viewerapi/">
                    Autodesk Viewer
                </a>
            </h4>
			<h4 id = "user"> ...
			</h4>
            <div>
                <div>

                    <a href="#" id="authenticate">
                        Log In
                    </a>
                </div>
				<div id="forgeFiles">

                </div>
				<div id="forgeViewer">

                </div>
            </div>

        </div>
    </div>
</body>
</html>